/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: rgb(250, 221, 255);
}

input[type="text"] {
    font-size: 15px;
}

input[type="email"] {
    font-size: 15px;
}

input[type="password"] {
    font-size: 15px;
}

input[type="number"] {
    font-size: 15px;
}