<div class="mainContent">
    <div class="loginPage">
        <div class="inputs">
            <label for="EMAIL">Email</label>
            <input type="email" name="EMAIL" placeholder="monicabing@gmail.com" [formControl]="fCEmail">
            <label for=" PASSWORD">Password</label>
            <input type="password" name="PASSWORD" placeholder="password" [formControl]="fCPassword ">
        </div>
        <h5 *ngIf="error!=''">{{error}}</h5>
        <div class="actions ">
            <button (click)="login() ">Login</button>
            <button (click)="nav( 'register') ">Register</button>
        </div>
    </div>