.mainContent {
    background-image: url("../../../assets/bg4.jpg");
    background-repeat: no-repeat;
    background-position: static;
    background-size: cover;
    justify-content: center;
    align-content: center;
    display: grid;
    height: 100vh;
    width: 100vw;
    position: static;
}

.loginPage {
    box-shadow: 5px 5px 50px 1px rgb(174, 164, 164);
    background-color: transparent;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
    border-radius: 20px;
    padding: 24px;
    height: 400px;
    width: 800px;
}

label {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

input {
    background-color: rgb(226, 217, 217);
    padding-bottom: 8px;
    margin-left: 110px;
    margin-top: 10px;
    padding-top: 8px;
    font-size: 15px;
    height: 30px;
    width: 70%;
}

.inputs {
    flex-direction: column;
    display: flex;
}

input[type="text"] {
    font-size: 15px;
}

input[type="email"] {
    font-size: 15px;
}

input[type="password"] {
    font-size: 15px;
}

button {
    box-shadow: 1px 1px 10px 1px rgb(94, 91, 91);
    background-color: #ad86c9;
    border-radius: 20px;
    margin-top: 50px;
    font-size: 20px;
    height: 35px;
    width: 40%;
}

button:hover {
    color: rgb(173, 6, 206);
}

p {
    font-family: "Playfair Display", serif;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    font-size: 200%;
}