<div class="mainContent">
    <div class="registerPage">
        <form class="inputs" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="NAME" name="NAME">Name</label>
            <input type="text" name="NAME" placeholder="ex: Monica Bing" formControlName="fcName" />
            <label for="AGE">Age</label>
            <input type="number" name="AGE" formControlName="fcAge" />
            <label for="EMAIL">Email</label>
            <input type="email" name="EMAIL" placeholder="ex: monicabing@gmail.com" formControlName="fcEmail" />
            <label for="PASSWORD">Password</label>
            <input type="password" name="PASSWORD" placeholder="password" formControlName="fcPassword" />
            <label for="PASSWORD_2">Confirm Password</label>
            <input type="password" name="PASSWORD_2" placeholder="confirm password" formControlName="fcPassword2" />

            <p>{{ error }}</p>
            <!-- <p>{{registerForm.value | json}}</p>
            <p>{{ registerForm.status }}</p> -->
            <button type="submit" [disabled]="!registerForm.valid">
          Create Account
        </button>
        </form>
        <div class="actions">
            <button (click)="nav('home')">Back</button>
        </div>
    </div>
</div>