<div class="userMain">
    <th>
        <h1>List of Registered Users</h1>
    </th>
    <table *ngIf="viewedUserIndex == undefined">
        <thead>
            <tr>
                <th colspan="2">
                    <label for="Search">Search</label>
                    <input type="text" [(ngModel)]="searchVal" class="form-control" id="search" />
                    <button class="addUserBtn" (click)="nav('addUser')">Add User</button>
                </th>
                <th colspan="4">
                    <!-- <button class="resetBtn" (click)="resetDB()">Reset Data</button> -->
                </th>
            </tr>

            <tr class="columns">
                <th scope="col ">User ID</th>
                <th scope="col ">Name</th>
                <th scope="col ">Email</th>
                <th scope="col ">Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | search: searchVal; index as i">
                <td scope="col ">{{ user.id }}</td>
                <td scope="col ">{{ user.name }}</td>
                <td scope="col ">{{ user.email }}</td>
                <td scope="col ">{{ user.age }}</td>
                <td>
                    <button class="deleteBtn" (click)="deleteUser(i)">
            <fa-icon [icon]="faTrash"></fa-icon>Delete
          </button>
                    <button class="editBtn" (click)="viewUserData(i)">
            <fa-icon [icon]="faEdit"></fa-icon>Edit
          </button>
                </td>
            </tr>
        </tbody>
    </table>
    <edit-user *ngIf="viewedUserIndex != undefined" [user]="users[viewedUserIndex]" (backEvent)="handleBackEvent($event)"></edit-user>
</div>