.footer-body {
    display: grid;
    color: white;
    min-height: 50px;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(130, 33, 150), rgb(45, 10, 102), rgb(17, 17, 17));
}